<p>Highest Rated Movie: <%= @highest_rated.title %>, <%= @highest_rated.rating %> stars </p>

<p>Average Rating: <%= @average_rating %> </p>
<% @movies.each do |movie| %>
  <%= movie.title %>
<% end %>