<%=form_for @director do |f| %>
  <%=f.label :name %>
  <%=f.text_field :name %>
  <%=f.submit %>
<%end%>

<!-- <form action="/directors" method="post">
  Director Name:<br>
  <input type="text" name="director[name]"><br>
  <input type="submit" value="Create Director">
</form> -->
